.h3-text{
    position: relative;
    padding-left: 13px;
}

.h3-text:before {
    content: '';
    width: 4px;
    height: 28px;
    position: absolute;
    top: 3px;
    left: 0;
    background-color: #39dca3;
}


.total{
    width: 100%;
    background: #ededee;
    padding: 13px 0!important;
    margin-bottom: 24px!important;
}

::ng-deep .mat-slider-horizontal .mat-slider-track-background {
    height: 4px!important;
}
::ng-deep .mat-slider-horizontal .mat-slider-track-wrapper {
    height: 4px!important;
}
::ng-deep .mat-slider-horizontal .mat-slider-track-fill {
    height: 4px!important;
}