<app-header-primary></app-header-primary>
<div class="jumbotron pt-4 pb-0 home-main-banner lin-background-primary">
       <div class="container">
           <h1 class="lin-text-extrabold lin-color-white lin-text-align-center">CRÉDITOS ONLINE PARA LO QUE QUIERAS</h1>
           <p class="m-0 lin-color-yellow lin-text-align-center lin-text-semibold lin-font-size-small">Solicita tu cupo de crédito en sólo 15 minutos y recibe el dinero en máximo un día hábil</p>
           <p class="lin-color-white lin-text-align-center lin-text-semibold lin-font-size-xsmall pb-3 m-0">Sin trámites, filas, codeudores, anticipos y cargos ocultos</p>
           <div class="card-cotizador">
               <app-lending></app-lending>
           </div>
       </div>
</div>
