<header>
	<div class="container-fluid">
		<div class="row lin-background-primary lin-text-align-right py-2">
			<div class="col-md-10 offset-md-1">
				<div class="row">
					<div class="col-md-8 col-lg-9 col-xl-10"></div>
					<div class="col-md-4 col-lg-3 col-xl-2 lin-text-align-left">
						<a href="">
							<strong class="lin-color-white">
								Crear cuenta
							</strong>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="px-0 px-lg-3 col-xl-10 offset-xl-1">
				<nav class="navbar navbar-expand-lg">
								<a class="navbar-brand " href="#">
									<img src="../assets/img/logo-blue.svg" alt="">
								</a>
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								</button>
								<div class="collapse navbar-collapse" id="navbarNavDropdown">
									<ul class="navbar-nav mr-auto w-100 px-3 px-xl-0">
										<li class="nav-item active">
											<a class="nav-link lin-text-semibold lin-color-primary" href="#">INICIO</a>
										</li>
										<li class="nav-item">
											<a class="nav-link lin-text-semibold lin-color-primary" href="#">QUIÉNES SOMOS</a>
										</li>
										<li class="nav-item">
											<a class="nav-link lin-text-semibold lin-color-primary" href="#">CÓMO FUNCIONA</a>
										</li>
										<li class="nav-item">
											<a class="nav-link lin-text-semibold lin-color-primary" href="#">BENEFICIOS</a>
										</li>
										<li class="nav-item">
											<a class="nav-link lin-text-semibold lin-color-primary" href="#">AYUDA</a>
										</li>
									</ul>
								</div>

								<a href="">MI CUENTA</a>
				</nav>
			</div>
		</div>
	</div>
</header>