<app-header-secondary header="create"></app-header-secondary>
        <div class="row m-0">
            <div class="col-md-5 p-0">
                <div class="auth-banner p-4 p-lg-5 lin-display-flex lin-justify-content-flex-end lin-align-items-center">
                    <div class="auth-banner__text-container ">
                        <div class="notch">
                            <img class="img-fluid" src="/assets/svg/rectangulo-crear-cuenta.svg" alt="">
                        </div>
                        <div class="arrows">
                            <img class="img-fluid" src="/assets/svg/flechas-crear-cuenta.svg" alt="">
                        </div>
                        <div class="background-right lin-background-green"></div>
                        <div class="background-bottom lin-background-green"></div>
                        <h4 class="lin-color-white mb-4 pb-3 title lin-text-semibold">
                                SÉ PARTE DE NUESTRA <br>
                                FAMILIA Y DISFRUTA DE <br>
                                INCREÍBLES BENEFICIOS
                        </h4>
                        <ul class="list mb-0">
                            <li class="mb-3 pl-0">
                                <h5 class="lin-color-white mb-0"> Descuentos por buen comportamiento de pago. </h5>
                            </li>
                            <li class="mb-3 pl-0">
                                <h5 class="lin-color-white mb-0"> Cupones de locura. </h5>
                            </li>
                            <li class="mb-0 pl-0">
                                    <h5 class="lin-color-white mb-0"> Construcción de vida crediticia.  </h5>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-7 form p-0">
                <div class="card shadow-with-hover lin-shadow-box-card p-3 p-lg-4 p-xl-5 my-5 mx-5 ">
                    <div class="card-body">
                        <h3 class="lin-color-green lin-text-extrabold">CREA TU CUENTA LINERU
                            </h3>

                        <form class="example-form">
                                <mat-form-field class="lin-full-width w-100 mt-4">
                                  <input  class="lin-color-green"  type="text" matInput placeholder="Nombre" name="value">
                                </mat-form-field>
                                <mat-form-field class="lin-full-width">
                                  <input  class="lin-color-green"  type="email" matInput placeholder="Correo" name="value">
                                </mat-form-field>
                                <mat-form-field class="lin-full-width">
                                  <input  class="lin-color-green"  type="number" matInput placeholder="Cedula" name="value">
                                </mat-form-field>
                            <button class="lin-color-white lin-text-semibold btn btn-lg lin-background-yellow btn-block">INICIAR SESIÓN</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
